:root {
    /* pallet */
    --grad: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    --clr6: #64ca9c;
    --clr5: #19a59f;
    --clr4: #fefefe;
    --clr3: #87898d;
    --clr2: #383b42;
    --clr1: #22252c;

    /* BP */
    --headerHeight: 4.5rem;
}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf)
}

@font-face {
    font-family: poppins-semibold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf)
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/Poppins/Poppins-ExtraBold.ttf)
}

@font-face {
    font-family: impact;
    src: url(../fonts/Impact/impact.ttf)
}

@font-face {
    font-family: Franklin Gothic Medium;
    src: url(../fonts/Franklin/FranklinGothic.ttf)
}

@font-face {
    font-family: fa;
    src: url(../fonts/FA/fa-brands-400.woff2)
}


/* BASICS */

html {
    color: var(--clr4);
    font-family: poppins, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    font-family: poppins, sans-serif;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    /* line-height: 1.3; */
}

h1 {
    margin-bottom: 1.5em;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    /* font-size: 0.875rem; */
}

img {
    width: 100%;
}

a {
    color: var(--clr-2);
    text-decoration: none;
}



/* HELPERS */

/* flex helpers */
.flex {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
}


/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

/* layout helpers */
.pill {
    border-radius: 999px;
}

.rounded {
    border-radius: 8px;
}

/* LAYOUT */

body {
    position: relative;
}

header {
    height: fit-content;
    background-image: var(--grad);
    z-index: 10;
    position: relative;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.375rem;
    height: var(--headerHeight);
    cursor: default;
}

.main-nav {
    flex-basis: 60%;
}

header ul {
    height: 100%;
}

header li {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: .5em 1em;
}

/* header ul a:hover {
    color: var(--clr1);

    background-color: #fefefe;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);

} */

.gallery,
#memes,
#about {
    margin: 1rem;
    padding: 1.5rem 1.5rem 8rem;
}

#about{
    padding-bottom: 4rem;
}

.gallery {
    background-color: var(--clr2);

}

.search-bar {
    margin-bottom: 3rem;
    align-items: stretch;
    flex-direction: column;
    gap: 1rem;
}


.search-by-txt {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr1);
    padding: 20px 25px 20px 50px;
    flex-basis: 50%;
}

.search-by-txt input {
    width: 80%;
    font-size: 1.25rem;
    background-color: transparent;
    border-width: 0;
    color: var(--clr4);
}

.search-by-txt span {
    font-size: 2em;
    background: var(--grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.keyword-search {
    flex-basis: 50%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.search-words {
    flex-basis: 70%;
    font-size: 0.875rem;
    background-color: var(--clr3);
    padding: 1em 1em;
    display: flex;
    align-items: center;
    height: fit-content;
    flex-grow: 1;
}

.more-btn {
    background-image: var(--grad);
    font-size: 1.25rem;
    padding: 0.1em 0.7em;
    color: var(--clr4);
    border-width: 0;
}

.more-btn:hover {
    background-blend-mode: exclusion;

}

.more-btn::before {
    content: 'More'
}

.img-container,
.saved-memes-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;

}

.editor {
    position: fixed;
    inset: 0;
    transform: translateX(130%);
    background-color: var(--clr1);
    width: 100%;
    padding-top: 70px;
    padding-inline-start: 95px;
    padding-inline-end: 95px;
    gap: 10%;
    z-index: 5;
    transition: transform .6s;
    flex-direction: column;
    align-items: center;
    max-width: 1260px;
    gap: 2rem;
}

body.editor-open .editor {
    transform: translateX(0);
    position: static;
    margin-left: auto;
    margin-right: auto;
}


.canvas-container {
    max-width: 70vh;
}

.edit-menu {
    text-align: center;
    background-color: var(--clr2);
    padding: 24px 40px 0;
    min-width: 380px;
}

.edit-menu>* {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

#txt-editor {
    text-align: center;
    text-transform: uppercase;
    font-family: poppins;
    font-size: 1.5rem;
    padding-top: .2em;
    padding-bottom: .2em;
    border-width: 0;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    margin-bottom: 15px;
}

.style-features {
    background-color: var(--clr5);
    padding: 10px 10px 20px;
    width: 18.75rem;
    margin: auto;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.style-features>*>* {
    box-shadow: 1px 3px 0 rgba(92, 92, 92, 0.55);
}



#txt-editor {
    width: 100%;
}

#about {
    text-align: center;
    background-color: var(--clr2);


}

.about-container {
    flex-direction: column;
    gap: 30px;
    max-width: 1260px;
    margin-inline-end: auto;
    margin-inline-start: auto;
}

#about .id img {
    border-radius: 999px;
    width: 50%;
    border: 10px solid var(--clr4);
}

#about h2 {
    margin-top: 0.3em;
    margin-bottom: 0;
}

#about h4 {
    margin-top: 0;
    color: var(--clr3)
}

#about p {
    color: var(--clr3);
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

.social-buttons {
    justify-content: center;
    gap: 20px;
}

.social-buttons a {
    background-color: var(--clr1);
    border-radius: 999px;
    height: fit-content;
    width: fit-content;
    padding: 15px;

}

.social-buttons a:hover {
background-color: var(--clr5);
}



.social-buttons img {
    width: 30px;
}

/* COMPONENTS */

body {
    background-color: var(--clr1);
}

.img-container img,
.saved-memes-container img {
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.377);
}

.img-container img:hover,
.saved-img-container:hover {
    box-shadow: 0 0px 10px rgba(181, 181, 181, 0.377);
}

.keyword-search>* {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

.search-words {
    overflow: hidden;
    font-size: 0.4rem;

}

.search-words span {
    margin-inline-end: .5em;
    cursor: pointer;
}

.search-words span:hover {
    color: rgb(124, 232, 183);
    /* font-weight: bold; */
    text-shadow: 1px 1px .15em var(--clr1);
}

body.keywords-open .search-words {
    background-color: rgb(175, 188, 202);
    flex-wrap: wrap;
    font-size: 1rem;
    border-radius: 20px;
    transition: font-size .5s, background-color .5s;


}



body.keywords-open .more-btn {
    align-self: flex-end;
    background-blend-mode: exclusion;

}

body.keywords-open .more-btn::before {
    content: 'Less';
}

body.keywords-open .more-btn:hover {
    background-blend-mode: difference;

}

canvas {
    background-color: white;
}

.edit-menu #font-selector {
    text-align: center;
    text-transform: capitalize;
}

.basic-features input {
    margin-bottom: 10px;
}

.edit-menu button {
    font-size: 2rem;
    height: 1.5em;
    width: 1.56em;
    font-weight: bold;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.basic-features button:hover {
    color: rgba(255, 255, 255, 0.813);
}

.basic-features .up,
.basic-features .down {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.basic-features .switch {
    box-shadow: 1px 5px 0 #978804, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #dcc466 0%, #ceb940 50%, #bb950c 100%);
}

.basic-features .add {
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.basic-features .delete {
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.style-features button:hover {
    background-color: var(--clr6);
}

.non-btn-features>* {
    font-size: 1.2rem;
    height: 1.5em;
    margin-top: 20px;
    cursor: pointer;
}


.editor-finish-links a {
    padding: 6px;
    background-color: var(--clr4);
    color: var(--clr1);
    cursor: pointer;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.235);

}

.editor-finish-links a.fb {
    background-color: #1e7cd3;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #7bb9ff6d;
    color: var(--clr4);
    display: block;
    margin: 20px auto;
    width: fit-content;

}

.editor-finish-links a:hover {
    background-image: var(--grad);
    color: var(--clr4);
}

#memes,
#about {
    text-align: center;
    padding-top: 30px;
}

.saved-img-container {
    position: relative;
}


.delete-meme {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 25%;
    width: 25%;
    font-size: 2rem;
    border-end-start-radius: 35px;
    border-start-end-radius: 8px;
    box-shadow: -1px 1px 3px #05323792;
    background-image: linear-gradient(-38deg, #0199ff 0%, #3f92ff 100%);
    display: none;
}

.delete-meme.show {
    display: block;
}

.delete-meme:hover {
    background-image: linear-gradient(-38deg, #25a6fc 0%, #599ffb 100%);

    text-shadow: -2px 2px 6px pink;
    box-shadow: -1px 1px 3px #05323792, -1px 1px 4px pink;

}

/* FOR MOBILE ONLY */
@media (max-width:780px) {

    header ul a:hover {
        /* color: var(--clr2); */
        font-weight: bold;
        text-shadow: 3px 2px 5px var(--clr1);
    }

}

/* SMALL SIZE */
@media (min-width:540px) {
    .search-words {
        font-size: 0.6rem;
    }

    .more-btn {
        padding: 0.5em 1em;
    }

}



/* MEDIUM SIZE+ */
@media (min-width:780px) {
    header {
        padding-inline-start: 3rem;
        padding-inline-end: 3rem;
    }

    .main-nav {
        flex-basis: 45%;
    }

    header ul a:hover {
        color: var(--clr1);

        background-color: #fefefe;
        box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);

    }

    .keyword-search {
        gap: 10%;
    }

    .more-btn {
        padding: 0.5em 1em;
        font-size: 1.5rem;
        flex-grow: 1.5;
    }

    .img-container,
    .saved-memes-container {
        /* background-color: #33be6d; */

        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: auto;
        /* width:max-content;  */
    }

    .about-container {
        flex-direction: row;
    }

    .id {
        flex-basis: 50%;
    }

    #about .id img {
        width: 70%;
        max-width: 370px;
    }

    .info {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}

/* MEDIUM-LARGE */

@media (min-width:920px) {
    .keyword-search {
        gap: 5%;
    }

    .search-words {
        flex-grow: 0;
    }

    .editor {
        flex-direction: row;
    }

    .editor>* {
        width: 50%;
        height: fit-content;
    }
}




/* LARGE */

@media (min-width:1015px) {
    header {
        /* padding-inline-start: 3rem;
        padding-inline-end: 3rem; */
        padding-inline-start: 5.25rem;
        padding-inline-end: 5.25rem;
        font-size: 1.2rem;
    }

    .main-nav {
        flex-basis: 46%;
    }

    .search-bar {
        flex-direction: row;
        align-items: center;
    }

    body.keywords-open .search-bar {
        align-items: flex-start;

    }

    .search-by-txt {
        flex-grow: 1;
    }

    .keyword-search {
        width: 60%;
    }

    .search-words {
        flex-grow: 1;
    }

    .more-btn {
        padding: 0.5em 1em;
        font-size: 1.25rem;
        flex-grow: 0;
    }

    .img-container,
    .saved-memes-container {
        grid-template-columns: repeat(auto-fill, 200px);
        margin-inline-start: 20px;
    }


}

@media (min-width:1240px) {
    .main-nav {
        flex-basis: 36%;
    }

}